<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" />
  <package id="ag" />
  <package id="aria2" />
  <package id="bitwarden-edge" />
  <package id="cascadiacodepl" />
  <package id="choco-cleaner" />
  <package id="chocolatey" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-font-helpers.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="chocolateygui" />
  <package id="cica" />
  <package id="Cmder" />
  <package id="cyberduck" />
  <package id="dbeaver" />
  <package id="DotNet4.5.2" />
  <package id="dotnet4.7" />
  <package id="dotnetfx" />
  <package id="filezilla" />
  <package id="Firefox" />
  <package id="font-hackgen" />
  <package id="font-hackgen-nerd" />
  <package id="fzf" />
  <package id="git" />
  <package id="git.install" />
  <package id="github" />
  <package id="github-desktop" />
  <package id="GoogleChrome" />
  <package id="hg" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="microsoft-edge" />
  <package id="neovim" />
  <package id="notepadplusplus.install" />
  <package id="npppluginmanager" />
  <package id="pandoc" />
  <package id="pdftk" />
  <package id="poshgit" />
  <package id="pt" />
  <package id="qdir" />
  <package id="rapidee" />
  <package id="ripgrep" />
  <package id="source-han-code-jp" />
  <package id="speedyfox" />
  <package id="teracopy" />
  <package id="vcredist140" />
  <package id="vcredist2010" />
  <package id="vcredist2015" />
  <package id="vim" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="Wget" />
  <package id="winmerge" />
  <package id="winmerge-7z" />
  <package id="winscp.install" />
</packages>